# Project {{.ProjectName}}

One Paragraph of project description goes here

## Getting Started

These instructions will get you a copy of the project up and running on your local machine for development and testing purposes. See deployment for notes on how to deploy the project on a live system.

Ensure you have `Go 1.20+`, `Make`, `PostgreSQL` installed on your machine. Optionally `Docker` is required if you want to run the database in a container.

To install Go -> https://webinstall.dev/golang/
PostgreSQL -> https://www.postgresql.org/download/
Docker -> https://docs.docker.com/get-docker/
Make -> https://www.gnu.org/software/make/ or https://gnuwin32.sourceforge.net/packages/make.htm

Simple dev tool installer: https://github.com/jdx/mise 

`mise use`

## MakeFile

Run build make command with tests
```bash
make all
```

Build the application
```bash
make build
```

Run the application
```bash
make run
```

{{- if or .AdvancedOptions.docker (and (ne .DBDriver "none") (ne .DBDriver "sqlite")) }}
Create DB container
```bash
make docker-run
```

Shutdown DB Container
```bash
make docker-down
```

DB Integrations Test:
```bash
make itest
```
{{- end }}

Live reload the application:
```bash
make watch
```

Run the test suite:
```bash
make test
```

Clean up binary from the last build:
```bash
make clean
```
