{{- if .AdvancedOptions.docker }}
DB_HOST=psql_bp
{{- else }}
DB_HOST=localhost
{{- end }}
DB_PORT=5432
DB_DATABASE=blueprint
DB_USERNAME=melkey
DB_PASSWORD=password1234
DB_SCHEMA=public
#postgres://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=disable
DATABASE_URL=postgres://melkey:password1234@localhost:5432/blueprint?sslmode=disable
