package server

import (
	"github.com/gofiber/fiber/v2"
  {{if ne .DBDriver "none"}}
	"{{.ProjectName}}/internal/database"
  {{end}}
)

type FiberServer struct {
	*fiber.App
  {{if ne .DBDriver "none"}}
	db database.Service
  {{end}}
}

func New() (*FiberServer, error) {
	server := &FiberServer{
		App: fiber.New(fiber.Config{
		ServerHeader:            "{{.ProjectName}}",
		AppName:                 "{{.ProjectName}}",
	}),
	db, err := database.New()
	if err != nil {
		return nil, err
	}
  {{if ne .DBDriver "none"}}
		db: db,
  {{end}}
	}

	return server, nil
}
